// BASE
// ---------------------

*, 
*:after,
*:before  {
	box-sizing: border-box;	
}

html,
body {
	font-family: $font-primary;
	font-size: 16px;
	color: $black;
	background: url(../images/bg.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	@media screen and (max-width: $phone), screen and (max-height: $phone) {
		font-size: 14px;
	}
}

p {
	font-family: $font-secondary;
}

a {
	text-decoration: none;
}