// HELPERS 
// ------------------


// Flex
// -----------------------
%fx {
	display: flex;
	&--between {
		justify-content: space-between;
	}
	&--wrap {
		flex-wrap: wrap;
	}
}

%al {
	&--center {
		align-items: center;
	}
}