// VARIABLES
// ---------------


// Colours
// ---------------
$white: #fff;
$black: #4b4b4b;
$yellow: #f6c500;


// Typography
// ---------------
$font-size: 16px;
$font-primary: "Bebas Neue";
$font-secondary: "Roboto";