// VARIABLES
// ---------------

// Colours
// ---------------
$white: #fff;
$black: #4b4b4b;
$yellow: #f6c500;


// Typography
// ---------------
$font-primary: "Bebas Neue";
$font-secondary: "Roboto";

// Screens
// ----------------------
$tablet: 767px;
$phablet: 620px;
$phone: 480px;
$phone-xs: 380px;