// HEADER
// ---------------------

header {
	@extend %fx;
	@extend %fx--between;
	background: $white;
	position: fixed;
	width: 100%;
	padding: 10px;
	box-shadow: 0 0 5px rgba($black, .2);
	z-index: 1;
}

.socials {
	@extend %fx;
	@extend %al--center;
	* {
		margin-right: 5px;
	}
	.fb-like {
		margin-right: 0;
	}
}

.logo {
	white-space: nowrap;
}